
/**


Quick CSS additions:


*/
body{
	padding-top:65px;
}
/**
Check page
*/
#log, #render{
	border:1px solid rgba(100,100,100,0.2);
	background-color:rgba(150,150,150,0.2);
	padding:5px;
	margin:0px;
}
#log pre{
	border:none;
	margin:0px;
	font-family: monospace;
	padding:0px 5px 0px 5px ;
	background-color:transparent;
}
ul.log{
	margin:0px;
	padding:0px;
}
.log li{
	list-style: none;
	border-radius: 5px;
	padding: 0px;
	margin:0px;
	border:none;
	border-left:3px solid rgba(0,0,0,0.2);
}
.log li:hover{
	border-radius: 5px;
	background-color:rgba(255,255,255,0.5);
	border-left:3px solid rgba(0,0,0,0.5);
}
#render{
	max-height:500px;
	overflow: scroll;
}

/*Logs level*/
.lvl1{
}
.lvl2{
	margin-left:15px !important;
}
.lvl3{
	margin-left:30px !important;
}
.lvl4{
	margin-left:45px !important;
}
.lvl5{
	margin-left:60px !important;
}
.lvl6{
	margin-left:75px !important;
}
.lvl7{
	margin-left:90px !important;
}
.lvl8{
	margin-left:105px !important;
}
.lvl9{
	margin-left:120px !important;
}

pre a{
	color: inherit;
	text-decoration: underline;
}
pre .tooltip-inner{
	max-width:500px;
}
pre .tooltip{
	word-break: keep-all;
}

#shellMenu{
	background-color: #FFF;
	border:none;
	border-left:15px solid #CCC;
}

/**
 Columns colors
*/
.block{
	border-radius:3px;
	padding: 5px;
}
.col-lg-3:nth-child(odd) .block,.col-lg-9:nth-child(odd) .block{
	background-color:#EFEFEF;
	border:1px solid #D5D5D5;
	
}
.col-lg-3:nth-child(even) .block,.col-lg-9:nth-child(even) .block{
	background-color:#F5F5F5;
	border:1px solid#DDD;
}
.block-header{
	background-color:#E5E5E5;
	margin:-5px;
	margin-bottom:0px;
	padding:3px;
	text-align: center;
	color:#999;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom:1px solid #CCC;
}
.block-sub-wrapper{
	margin:0px -5px;
	background-color:#EEE;
	border-bottom:1px solid #DDD;
	border-top:1px solid #D2D2D2;
}
.block-subtitle{
	margin-left:-2px;
	margin-bottom:0px;
	display:inline-block;
	text-align: center;
	color:#AAA;
}
h1{
	color:#EFEFEF;
	background-color:#000;
	padding:5px 15px;
	margin:0px;
	margin-bottom:15px;
}
h2{
	border-bottom:1px solid #000;
	padding-left:5px;
}
h3{
	border-bottom:1px dashed #DDD;
}

h4{
	border-top: 1px dotted #EEE;
	padding-top:3px;
}

.syntax-container{
	font-size:0.8em;
}

#toc-affix{
	padding:0px;
	margin:0px;
	width:268px;
}
#toc-affix .panel{
	background-color: #FFF;
}
#toc-affix .panel-body{
	padding:5px;
	margin:0px;
	width:auto;
}
#toc-affix ol{
	margin:0px;
	padding:0px;
}
#toc-affix li{
	list-style-type: none;
	margin:0px;
	padding-left:5px;
}
#toc > li a{
	background-color:#FFF;
	position:relative;
	border:1px solid transparent;
	display:block;
	border-left:3px solid #000;
	border-bottom:1px solid #000;
	padding-left:3px;
}
#toc > li a:hover{
	border-bottom:1px solid #333;
	border-left:3px solid #333;
}
/*Lvl1*/
#toc >li>a{
	background-color:#000;
	color:#FFF;
	padding-left:3px;
	border-bottom: 1px solid #000;
}

/*Lvl2*/
#toc > li >ol li a{
	border-left:3px solid #666;
	background-color:#EEE;
	margin-top:0px;
	border-bottom: 1px solid transparent;
}
#toc > li >ol li a:hover{
	border-bottom:1px solid #888;
	border-left:3px solid #888;
}

/*lvl3*/
#toc > li>ol li>ol li a{
	border-left:3px solid #999;
	background-color: #F5F5F5;
}
#toc > li>ol li>ol li a:hover{
	border-bottom:1px solid #BBB;
	border-left:3px solid #BBB;
}
/*lvl4*/
#toc > li>ol li>ol li>ol li a{
	border-left:3px solid #999;
	background-color: transparent;
}
#toc > li>ol li>ol li>ol li a:hover{
	border-bottom:1px solid #BBB;
	border-left:3px solid #BBB;
}

/* Lists */
li p{
	padding:0px;
	margin:0px;
}
li ul{
	margin-bottom:15px;
}

.yaml span.comment span, .yaml span em{
	font-style: italic;
}
.tooltip{
	z-index: 10000;
}
.tooltip-inner{
	z-index: 10000;
}

/* Row lines in tree */
.rowLine{
	border:1px dashed #EEE;
	margin:2px 10px;
}