/**
Values used in public and admin areas
*/

body{
	background-color: @body-bg;
	margin-top:30px;
}

// Toolbar : for links
.toolbar{
	border-bottom:1px solid @gray-light;
	border-top:1px solid @gray-light;
	background-color:@gray-lighter;
	margin: 0px -5px 10px -5px;
	padding: 0px 10px 0px 5px;
	.btn-group{
		margin: 5px 0px 5px 0;
	}
    .list-inline{
        .btn-group;   
    }
}

// Sub toolbar
.toolbar-sub{
    background-color:lighten(@gray-lighter, 5%);
    border-top:none;
    border-bottom:1px solid lighten(@gray-light, 10%);
    margin: 0px -5px 10px -5px;
    padding: 0px 5px;
    .btn-group{
        margin: -4px 0px 5px 0;
    }
    .list-inline{
        .btn-group;
    }
    .btn{
        .btn-xs;
    }
}

// Toolbar for collapsed elements
.toolbar-collapse{
    background-color:lighten(@gray-lighter, 5%);
    border-top:none;
    border-bottom:1px solid lighten(@gray-light, 10%);
    margin: -15px -15px 0px -15px;
    padding: 3px;
}

// Footer
#footer{
	border-top:1px solid #CCC;
	size:0.5em;
	padding:3px;
	margin-top:5px;
}

// Selected language
.language-selected{
	.box-shadow(0 0 3px 0px @gray-darker)
}

.pointer{
	cursor: pointer;
}

// ----------------------------------------------------------------------------------------------
// Sub menus
// ---------------------------
// Border-radius mixin
.border-radius(@radius){
	.border-top-radius(@radius);
	.border-bottom-radius(@radius);
}
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
	text-decoration: none;
	color: @dropdown-link-hover-color;
	#gradient > .vertical(@dropdown-link-hover-bg, darken(@dropdown-link-hover-bg, 5%));
}
.dropdown-submenu {
	position: relative;
}
// Default dropdowns
.dropdown-submenu > .dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -6px;
	margin-left: -1px;
	.border-radius(0 6px 6px 6px);
}
.dropdown-submenu:hover > .dropdown-menu {
	display: block;
}

// Dropups
.dropup .dropdown-submenu > .dropdown-menu {
	top: auto;
	bottom: 0;
	margin-top: 0;
	margin-bottom: -2px;
	.border-radius(5px 5px 5px 0);
}

// Caret to indicate there is a submenu
.dropdown-submenu > a:after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: darken(@dropdown-bg, 20%);
	margin-top: 5px;
	margin-right: -10px;
}
.dropdown-submenu:hover > a:after {
	border-left-color: @dropdown-link-hover-color;
}

// Left aligned submenus
.dropdown-submenu.pull-left {
	// Undo the float
	// Yes, this is awkward since .pull-left adds a float, but it sticks to our conventions elsewhere.
	float: none;

	// Positioning the submenu
	> .dropdown-menu {
		left: -100%;
		margin-left: 10px;
		.border-radius(6px 0 6px 6px);
	}
}